<fieldset>
    <div class="row">
        <div class="col-xs-2 col-md-1"></div>
        <div class="col-xs-12 col-md-10">
            <legend>Submit a New Bug / Suggest a new feature <%= link_to 'Back', bug_traxes_path, :class=>"pull-right" %></legend>
<%= render 'form' %>
        </div>
    </div>
    <fieldset>
        </br>
        </br>